html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 0px auto;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  min-width: 400px;
}
@media screen and (min-width: 540px) {
  body {
    font-size: 16px;
  }
}

p {
  margin: 0;
  line-height: 1.8;
}

h2 {
  font-size: 18px;
  margin: 0;
}
@media screen and (min-width: 540px) {
  h2 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding: 20px;
  margin: 0px;
}

.button {
  display: block;
  color: white;
  padding: 10px;
  border-radius: 30px;
  background-color: #b00000;
}

.header-alt header {
  background-image: linear-gradient(rgba(255, 252, 231, 0), rgba(255, 252, 231, 0.7490196078)), url(/images/domov_bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.header-alt header h2 {
  display: none;
}
.header-alt .logo {
  max-width: 100px;
  margin-top: 10px;
}
.header-alt .header__title {
  font-size: 24px;
  color: black;
}
.header-alt .menu__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.header-alt .button--daruj {
  position: absolute;
  right: 3vw;
  bottom: 10px;
}
.header-alt .menu {
  display: flex;
}
.header-alt .menu a {
  text-transform: uppercase;
  display: block;
  padding: 15px 3vw;
  font-weight: 500;
}
.header-alt .menu a:hover {
  background-color: rgba(83, 83, 83, 0.3);
  color: white;
  text-transform: uppercase;
}
.header-alt .button--daruj {
  background-color: rgba(43, 2, 247, 0.6980392157);
}

@media screen and (min-width: 540px) {
  header {
    background-image: linear-gradient(to right, #FFFCE7 0%, rgba(255, 252, 231, 0) 120%), url(/images/domov_bg.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
  }
}
.header-default header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-image: linear-gradient(rgba(255, 252, 231, 0), rgba(255, 252, 231, 0.7490196078)), url(/images/domov_bg.jpg);
  background-size: cover;
  background-position: center;
}
.header-default header h2 {
  font-style: italic;
  margin: 20px;
  font-weight: 400;
}
.header-default .logo {
  max-width: 140px;
  margin: 10px;
}
.header-default .header__title {
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.header-default .menu__container {
  display: flex;
  width: 100%;
  position: relative;
}
.header-default .button--daruj {
  position: absolute;
  right: 3vw;
  bottom: 10px;
}
.header-default .menu {
  display: flex;
}
.header-default .menu a {
  text-transform: uppercase;
  display: block;
  padding: 15px 3vw;
}
.header-default .menu a:hover {
  background-color: rgba(83, 83, 83, 0.3);
  color: white;
  text-transform: uppercase;
}
.header-default .button--daruj {
  background-color: rgba(43, 2, 247, 0.6980392157);
}

footer {
  width: 100%;
  background-color: #535353;
  padding: 20px;
  color: white;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer .container {
  display: flex;
  gap: 10px;
}
footer img {
  max-width: 130px;
}

.copy {
  text-align: end;
  margin-top: 20px;
}

.box {
  background-color: #FFFCE7;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box__img--main {
  display: none;
}
.box .button {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.box--daruji img {
  display: block;
  max-width: 140px;
}
.box--daruji a {
  align-self: end;
}
.box--daruji .box__title {
  color: rgba(43, 2, 247, 0.6980392157);
}

.box--kontakt {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.box__img--sluzby {
  width: 100%;
  border-radius: 0px 0px 12px 12px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section--galery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-items: center;
}
.section--galery img {
  max-width: 100%;
  border-radius: 12px;
}
.section--galery img[alt="sestry boromejky"] {
  display: none;
}

.section--sluzby {
  gap: 0px;
}

.page-title {
  color: #b00000;
}

h2 + article {
  margin-top: 10px;
}

.calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.calendar__header {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  background-color: rgba(176, 0, 0, 0.5019607843);
}

.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #ccc;
}

.calendar__grid > div {
  background-color: white;
  padding: 14px 0;
  text-align: center;
  font-size: 1rem;
  min-height: 48px;
  box-sizing: border-box;
}

.calendar__grid > div:nth-child(-n+7) {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}

.calendar__grid .empty {
  background-color: #f9f9f9;
  pointer-events: none;
}

.calendar__grid .event {
  background-color: rgba(43, 2, 247, 0.1882352941);
}/*# sourceMappingURL=style.css.map */