@use "common";


.calendar {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  aspect-ratio: 1 / 1; /* čtverec */
  display: grid;
  grid-template-rows: repeat(8, 1fr); /* 1 řádek pro nadpis + 7 pro mřížku */
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.calendar__header {
  grid-column: span 7;
  background-color: #b0000080;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.calendar__grid {
  display: contents; /* dědí grid kontext z rodiče */
}

.calendar__grid > div {
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__grid > div:nth-child(-n+7) {
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar__grid > div:nth-child(7n+6) {
  background-color: #ffeeba;
}

.calendar__grid > div:nth-child(7n) {
  background-color: #f8d7da;
}

.calendar__grid .empty {
  background-color: #a3a3a3 !important;
  pointer-events: none;
}

.calendar__grid .event {
  background-color: #2b02f730 !important;
}
.events .list{
  line-height: 1.8;
}
@media screen and (min-width:700px){
.calendar {
  max-width: 40%;
}

.events{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: common.$spacer;
  margin: 0px auto;
}
}

@media screen and (min-width: 960px){
.calendar {
  max-width: 30%;
}
  .events{
  max-width: 90vw;
}
 
}
