@use "common";

.calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.calendar__header {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: #b0000080;
}

.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #ccc;
}

.calendar__grid > div {
  background-color: white;
  padding: 15px 0px;
  text-align: center;
  font-size: 1rem;
  min-height: 30px;
  box-sizing: border-box;
}

.calendar__grid > div:nth-child(-n+7) {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}
.calendar__grid > div:nth-child(7n + 6) {
  background-color: #ffeeba;
}

.calendar__grid > div:nth-child(7n) {
  background-color: #f8d7da;
}
.calendar__grid .empty {
  background-color: #a3a3a3 !important;
  pointer-events: none;
}
.calendar__grid .event{
    background-color: #2b02f730 !important;
}

@media screen and (min-width:700px){

.calendar {
  max-width: 250px;
  
}
.calendar__grid > div {
  padding: 5px 0px;
  font-size: 14px;
}
.calendar__header {
  padding: 8px;
  font-size: 16px;
}





}
