$primary: #b00000;
$primary-hover: #890101;
$secondary: #2b02f7b2;
$secondary-hover: #0f0282;
$box-background: #FFFCE7;
$pdf-link: #f4b703 ;
$pdf-hover:rgb(234, 114, 2);
$footer: #535353;
$font-weight-reg: 400;
$font-weight-m: 500;
$font-weight-title: 650;
$spacer: 20px;
$spacer-small: 10px;

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body{
    margin: 0px auto;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    min-width: 400px;
    
    @media screen and (min-width: 700px){
        font-size: 16px;
    } 
}
p{
    margin: 0;
    line-height: 1.8;
}
h2{
    font-size: 18px;
    margin: 0;

    @media screen and (min-width: 970px){
        font-size: 20px;
    }
}

a{
    text-decoration: none;
    color: black;
}

section{
    padding: $spacer;
    margin: 0px;

    @media screen and (min-width: 960px) {
    padding: $spacer 60px;
    }
}
.button{
    display: block;
    color: white;
    padding: $spacer-small;
    border-radius: 30px;
    background-color: $primary;

    &:hover{
        background-color: $primary-hover;
    }
}
.list{
    margin: 0;
    line-height: 1.6; 
}
.pdf-link{
      color: $pdf-link;
      text-decoration: underline;
      &:hover{
         color:$pdf-hover;
      }
      &:visited{
         color:$primary;
      }
   }
.mail-link{
    color:$secondary;
    text-decoration: underline;

    &:hover{
        color:$secondary-hover;
    }
}
.page-title, .article__title{
   color:$primary;
}
h2 + p{
   margin-top: 10px;
}
.button--daruj{
  background-color:$secondary; 
  
  &:hover{
    background-color:$secondary-hover;
  }
}
