@use "common";

@media screen and (min-width:700px){

.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.events{
    flex-direction: row;
}
.galery{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5px;
   justify-items: center;
   justify-content: center;

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;

      &[alt="sestry boromejky"]{
         display: block;
      }
   }
}
.about{
    .article--about:last-child{
        display: grid;
        grid-template-columns: auto 40%;

        img{
            width: 100%;
        }
    }
}
.sluzby{
     img{
      display: none;
   }
}

.kontakt{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article img{
    width: 60%;
}














}