@use "common";

.box{
   background-color: common.$box-background;
   border-radius: 12px;
   padding: common.$spacer;
   display: flex;
   flex-direction: column;
   gap: 10px;

   &__img--main{
      display: none;
   }
   .button{
      width:fit-content;
      align-self: center;
   }
}
.box--daruji{
   img{
   display: block;   
   max-width: 140px;
   }
   a{
   align-self: end;
   }
   .box__title{
      color: common.$secondary;
   }
}
.box--kontakt{
   display: flex;
   gap:10px;
   flex-direction: column;
}
.box__img--sluzby{
   width: 100%;
   border-radius: 0px 0px 12px 12px;
}
.box--svety{
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;


   img{
      max-height: 3em;

   }
   h2{
      font-size: 16px;
   }
   
}


section{
   display: flex;
   flex-direction: column;
   gap: common.$spacer;
}
.galery{
   display: grid;
   grid-template-columns: 1fr;
   gap: 15px;
   justify-items: center;

   img{
      max-width: 100%;
      border-radius: 12px;

      &[alt="sestry boromejky"]{
         display: none;
      }
   }
}
.sluzby{
   gap: 0px;
  
}
.svety{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5px;
}

article{
   display: flex;
   flex-direction: column;
   gap: 20px;

   img{
      width: 100%;
      border-radius: 12px;
   }
}

