@use "common";

.header-alt{
header {
  background-image: linear-gradient(#FFFCE700, #FFFCE7bf), url(/images/domov_bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: common.$spacer;

  h2{
    display: none;
  }
}
.logo{
  max-width: 100px;
  margin-top: 10px;
  
}
.header__title{
  font-size: 24px;
  color: black;
}
.header__container{
   display: flex;
  flex-direction: column;
}
.menu__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.button--daruj{
  position: absolute;
  right: 3vw;
  bottom: 10px;
}
.menu{
  display: flex;
  
  a{
    text-transform: uppercase;
    display: block;
    padding: 15px 3vw;
    font-weight: common.$font-weight-m;
  }

  a:hover{
    background-color: rgb(83, 83, 83, 0.3);
    color:white;
    text-transform: uppercase;
  }
}
.button--daruj{
  background-color: common.$secondary;

  &:hover{
    background-color: common.$secondary-hover;
  }
}

@media screen and (min-width: 540px){

header{
  background-image: linear-gradient(to right, #FFFCE7 0%, rgba(255, 252, 231, 0) 90%), url(/images/domov_bg.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  gap: 0px;
}
.header__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;

  .logo{
    max-width: 100px;
    padding: 0px 20px 10px 0px;
    margin: 0;
  }

}
.header__title{
  font-size: 28px;
}
}
}

