<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/icons/site.webmanifest" />
</head>
<body class="header-{{ headerType | default("default") }}">

    <header class="header">
        <div class="header__container">
            <a href="/"> <img class="logo" src="/images/domov_logo.png" alt="logo"> </a>
            <a href="/index.html" class="header__title">
                 Domov sv. Karla Boromejského
            </a>
            <h2>
                {{ subtitle }}
            </h2>
        </div>
        <div class="menu__container">
            <div class="menu">
                <a href="/sluzby/" class="menu__link">Služby</a>
                <a href="/about/" class="menu__link">O nás</a>
                <a href="/kontakt/" class="menu__link">Kontakt</a>
            </div>
            <a href="https://www.darujspravne.cz/sbirka/domov-repy-551" class="button button--daruj">Daruji Domovu</a> 
        </div>
    </header>

        {{ content | safe }}

    <footer class="footer">
        <div class="container">
            <p class="footer__text">
                Zřizovatelem Domova je <a href="" class="footer__link">Kongregace sester boromejek</a>.
            </p>
            <img class="logo-boro" src="/images/boromejky_logo.png" alt="logo sester boromejek">
        </div>
        <p class="copy">&copy;2025, betkabrozova</p>
    </footer>
    
</body>
</html>